[user]
	email = iain@isme.es
	name = Iain Samuel McLean Elder
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	root = rev-parse --show-toplevel
	ack = ! git ls-files --others --cached --exclude-standard | ack -x

    # See Unix & Linux Q&A for more implementations.
	# https://unix.stackexchange.com/a/691245/48038
	tree = "!f() { git ls-files \"${1-.}\" | tree --fromfile . ; }; f"
[log]
	date = iso
[credential "https://dev.azure.com"]
	useHttpPath = true
	helper =
	helper = !az account get-access-token --query accessToken --output tsv | xargs printf 'password=%s\n'
[credential "https://git-codecommit.eu-west-1.amazonaws.com"]
	provider = generic
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
