[user]
	email = iain@isme.es
	name = Iain Samuel McLean Elder
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	root = rev-parse --show-toplevel
	ack = ! git ls-files --others --cached --exclude-standard | ack -x

    # The expression argument to git ls-files works like SQL COALESCE.
    # See Unix & Linux Q&A for more implementations.
	# https://unix.stackexchange.com/a/691245/48038
	tree = "!f() { git ls-files \"${1:-${GIT_PREFIX:-.}}\" | tree --fromfile . ; }; f"
[log]
	date = iso
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://dev.azure.com"]
	useHttpPath = true
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache
[init]
	defaultBranch = master
[include]
	path = .private.gitconfig
[push]
	autoSetupRemote = true